/*
  Title: 		front-page.css
  Description:	The styles for the home page
  Author:   	Mitchell Goff
  Date:			September 8, 2014
  Version:  	1.0.0
  Site:  		http://www.thedartmouthchronicle.com
*/


/****************************
/*
/*	Featured article styles
/*
/****************************/

/*.featured-wrapper {
	float: left;
	width: 680px;
	margin-left: 20px;
}
.featured-image {
	float: left;
	width: 360px;
	height: 300px;
}
.featured-article {
	float: left;
	width: 320px;
	height: 298px;
	border-top: solid 1px #CCC;
	border-bottom: solid 1px #CCC;
	background-color: #F6F6F6;
	box-shadow: inset 0px 11px 8px -10px #DDD;
}

.featured-article .article-category {
	width: 100%;
	margin-top: 70px;
	font-family: "Lato", sans-serif;
	font-size: 12px;
	font-weight: 300;
	text-align: center;
	letter-spacing: 1px;
	color: #6b8a1c;
}
.featured-article .article-title {
	width: 100%;
	font-family: "Lora", serif;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	color: #333;
}
.featured-article .article-author {
	margin-top: -4px;
	width: 100%;
	font-family: "Lato", sans-serif;
	font-size: 10px;
	font-weight: 900;
	text-align: center;
	letter-spacing: 1px;
	color: #333;
}
.featured-article .article-excerpt {
	margin-top: 10px;
	width: 240px;
	margin-left: 40px;
	font-family: "Lora", serif;
	font-weight: 300;
	font-size: 14px;
	text-align: center;
	color: #333;
}*/


/****************************
/*
/*	Most-viewed article styles
/*
/****************************/

.popular-wrapper {
	float: left;
	width: 220px;
	margin-left: 20px;
	border: solid 1px #CCC;
	border-radius: 4px;
	/*border-top: solid 1px #CCC;
	border-bottom: solid 1px #CCC;*/
	background-color: #FFF;
	/*box-shadow: inset 0px 11px 8px -10px #DDD;*/
}
.popular-article {
	width: 200px;
	margin-left: 10px;
	padding: 10px 0;
	border-bottom: solid 1px #CCC;
}
.popular-article:last-of-type {
	border-bottom: none;
}
.popular-article a {
	text-decoration: none;
}
.popular-article .article-category {
	width: 100%;
	font-family: "Lato", sans-serif;
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 1px;
	color: #6b8a1c;
}
.popular-article .article-title {
	width: 100%;
	margin-top: 2px;
	font-family: "Lora", serif;
	font-size: 16px;
	font-weight: 300;
	color: #333;
}
.popular-article .article-author {
	margin-top: 2px;
	width: 100%;
	font-family: "Lato", sans-serif;
	font-size: 10px;
	font-weight: 900;
	letter-spacing: 1px;
	color: #333;
}


/****************************
/*
/*	Tweet styles
/*
/****************************/

.tweet-wrapper {
	float: left;
	width: 220px;
	margin-left: 20px;
	/*border-top: solid 1px #CCC;*/
	/*border-bottom: solid 1px #CCC;*/
	/*background-color: #F6F6F6;*/
	/*box-shadow: inset 0px 11px 8px -10px #DDD;*/
}

.widget_tp_widget_recent_tweets h2.widgettitle {
	display: none;
}

.tp_recent_tweets li {
	margin: 0 10px;
	padding-top: 10px;
	padding-bottom: 20px;
	border-bottom: solid 1px #CCC;
	background-position: 0px 15px;
	font-family: "Lato", sans-serif;
	font-weight: 300;
	font-size: 12px;
	color: #333;
}
.tp_recent_tweets li:last-of-type {
	border-bottom: none;
}
.tp_recent_tweets li a {
	font-weight: 500;
	color: #6B8A1C;
}
.tp_recent_tweets li a:hover {
	color: #6B8A1C;
	text-decoration: underline;
}
.tp_recent_tweets .twitter_time {
	font-style: italic;
	font-weight: 300;
	color: #999;
}
.tp_recent_tweets .twitter_time:hover {
	color: #999;
}


/****************************
/*
/*	Featured article styles
/*
/****************************/

.section-title-wrapper {
	width: 100%;
	text-align: center;
}
.section-title {
	display: inline-block;
	font-family: "Lato", sans-serif;
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #333;
	border-bottom: solid 1px #333;
	padding-bottom: -5px;
}
.featured-wrapper {
	margin: 20px 10px;
}

.featured-article {
	float: left;
	width: 300px;
	margin: 20px 5px;
}
.featured-article-image {
	width: 100%;
	height: 220px;
}
.featured-article-info {
	width: 100%;
	height: 140px;
}

.featured-article .article-category {
	width: 100%;
	margin-top: 10px;
	font-family: "Lato", sans-serif;
	font-size: 12px;
	font-weight: 300;
	text-align: center;
	letter-spacing: 1px;
	color: #6b8a1c;
}
.featured-article .article-title {
	width: 100%;
	font-family: "Lora", serif;
	font-size: 22px;
	font-weight: 300;
	text-align: center;
	color: #333;
}
.featured-article .article-author {
	margin-top: -4px;
	width: 100%;
	font-family: "Lato", sans-serif;
	font-size: 10px;
	font-weight: 900;
	text-align: center;
	letter-spacing: 1px;
	color: #333;
}
.featured-article .article-excerpt {
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	font-family: "Lora", serif;
	font-weight: 300;
	font-size: 14px;
	text-align: center;
	color: #333;
}



/****************************
/*
/*	This issue styles
/*
/****************************/

/*.issue-wrapper {
	float: left;
	width: 920px;
	margin-left: 20px;
}
.issue-cover {
	float: right;
	position: relative;
	width: 340px;
	height: 420px;
	overflow: hidden;
}
.issue-image {
	position: absolute;
	top: 0px;
	width: 340px;
	height: 360px;
	overflow: hidden;
	z-index: 1000;
}
.issue-image-blur {
	position: absolute;
	width: 344px;
	height: 424px;
	margin: -2px -2px -2px -2px;
	
	-webkit-filter: blur(4px);
	-moz-filter: blur(4px);
	-ms-filter: blur(4px);
	filter: blur(4px);
}
.issue-title-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(120, 120, 120, 0.65098);
}
.issue-title {
	position: absolute;
	top: 360px;
	width: 340px;
	text-align: center;
	-webkit-backface-visibility: hidden;
}
.issue-title-text {
	display: inline-block;
	width: 340px;
	margin-top: 10px;
	font-family: "Lato", sans-serif;
	font-size: 20px;
	font-weight: 300;
	text-align: center;
	color: #FCFCFC;
}
.issue-title-border {
	position: relative;
	width: 80px;
	margin: 5px auto;
	border-bottom: solid 1px #FCFCFC;
}

.issue-articles {
	float: left;
	width: 580px;
	border-top: solid 1px #CCC;
	border-bottom: solid 1px #CCC;
	background-color: #F6F6F6;
	box-shadow: inset 0px 11px 8px -10px #DDD;
}
.issue-article {
	width: 520px;
	margin-left: 20px;
	padding: 18px 0;
	border-bottom: solid 1px #CCC;
}
.issue-article:last-of-type {
	border-bottom: none;
	padding-bottom: 17px;
}
.issue-article .article-category {
	width: 100%;
	font-family: "Lato", sans-serif;
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 1px;
	color: #6b8a1c;
}
.issue-article .article-title {
	width: 100%;
	margin-top: 0px;
	font-family: "Lora", serif;
	font-size: 18px;
	font-weight: 300;
	color: #333;
}
.issue-article .article-author {
	margin-top: -2px;
	width: 100%;
	font-family: "Lato", sans-serif;
	font-size: 10px;
	font-weight: 900;
	letter-spacing: 1px;
	color: #333;
}
.issue-article .article-excerpt {
	margin-top: 3px;
	width: 500px;
	font-family: "Lora", serif;
	font-weight: 300;
	font-size: 14px;
	color: #333;
}*/